body 
{
  font-family: sans-serif;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fon 
{
  background: slateblue;
  position: absolute;
  height: 100px;
  width: 100%;
  z-index: -1;
}


header
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.content 
{
  background-color: slateblue;
  width: 100%; 
  margin-top: 20px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

nav.content
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

table.content
{
  text-align: center;
  vertical-align: middle;
  order: 1;
}


#footer
{
  background-color: slateblue; 
  align-self: stretch;
  margin-bottom: 0px;
  padding: 20px;
  order: 1;
}

.chet
{
  background-color: purple;
}

.nechet
{
  background-color: indigo;
}

a
{
  color: black;
}

@media screen and (min-width: 800px),(orientation: landscape)
{
  header
  {
    width: 100%;
    max-width: 960px;
    justify-content: left;
  }
  header img
  {
    float: left;
  }
  .content
  {
    width: 100%;
    max-width: 960px;
  }
  nav.content
  {
    flex-direction: row;
  }
  table.content
  {
    order: 0;
  }
}


